
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>{%block title%}WetNet{%endblock%}</title>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">
		{%block refresh %} {% endblock %}
	</head>
	<body>
		<div id="main">
			
			<img id="background" src="{{STATIC_URL}}img/mock1_0001_Layer-1.png"/>
			<img id="uplabel" src="{{STATIC_URL}}img/mock1_0000_Layer-UP2.png" />
            <a href=/><img id="logo" src = "{{ STATIC_URL }}img/logo.png"/></a>
            {%block content%}
            <div id="content">
            <h2 align="center">WetNet - miejsce dla weterynarzy i ich klientów</h2>
            <h2 align="center"><a href="/weterynarze">Wyświetl weterynarzy</a></h2>
            </div>
            {%endblock%}
            
            <div id="time">Dzisiejsza data:<br>&nbsp&nbsp&nbsp{{date}}</div>
            <div id="logged">{% autoescape off %} {{logged}} {% endautoescape %} </div>
			<!--
			<img id="downlabel" src="{{STATIC_URL}}img/mock1_0000_Layer-2.png">
            <div id="downtext">
            	Informacje | 
				Linki | 
				<a onclick="alert('mat.banaszkiewicz@gmail.com, 516 397 680')">Kontakt </a></br> 
				<a href="http://www.lastfm.pl/user/banan88" target="_blank">2011 Mateusz Banaszkiewicz</a>
			</div>-->
			
	</div>
	
        
	</body>
	
	
</html>
