<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">
	</head>
	<body>
		<div id="main">
			<img id="background" src="{{STATIC_URL}}img/mock1_0001_Layer-1.png"/>
            <div id="downlabel" style="background-image:url('{{STATIC_URL}}img/mock1_0000_Layer-2.png');">
                <img src="{{STATIC_URL}}img/mock1_0000_Layer-2.png">
            </div>
            <div id="uplabel" style="background-image:url('{{STATIC_URL}}img/mock1_0000_Layer-UP2.png');">
                <img src="{{STATIC_URL}}img/mock1_0000_Layer-UP2.png" />
            </div>
            <div id="logon"><img src="{{STATIC_URL}}img/logon_0000_Shape-1.png"></div>
            <div id="downtext">Informacje | Kontakt | Costam</div>
            <div id="arr">2011 Mateusz Banaszkiewicz</div>
            <div id="time">{{date}}</div>
            <div id="text"><p>Witamy w bazie weterynarzy.</p><p> Proszę wybrać rodzaj konta i zalogować się</p> lub
            przeprowadzić rejestrację.</p> </div>
		</div>
        
	</body>
	
	
</html>
