{% extends "main/index.html" %}

{% block title %} {{ vet.user.first_name }} {{ vet.user.last_name }} {% endblock %}

{%block content %}
	<div id="content">
		<p>Weterynarz {{vet.user.first_name}} {{vet.user.last_name}}</p> 
		<p> klucz glowny: {{vet.user.pk}} </p>
		<p>Nazwa użytkownika: {{vet.user.username}}</p>
		{% ifnotequal vet.clinic_name '' %}
			<p>Nazwa kliniki: {{vet.clinic_name}}</p>
		{% endifnotequal %}
		{% ifnotequal vet.www '' %}
			<p>Strona internetowa: <a href ="{{vet.www}}" target = _blank>{{vet.www}}</a><p>
		{% endifnotequal %}
		<p>Adres kliniki: {{vet.clinic_adress}}, {{vet.clinic_city}}
			<a target=blank_ href="http://www.zumi.pl/namapie.html?loc={{vet.clinic_city}}%2C+{{vet.clinic_adress}}&Submit=Szukaj&src=1" 
			title="weterynarz na mapie" 
			style="display:block; width:149px; height:23px; 
			background:url(http://www.zumi.pl/_d/wizard/zumi_02.gif) 
			no-repeat; font: bold 12px Verdana, sans-serif;  color:#fff; 
			text-align:center; text-decoration:none; padding-top:3px;">
			Pokaż na mapie &#187;</a>
		<p/>
		<p>Telefon kontaktowy: {{vet.phone}}</p>
		{% ifnotequal vet.user.email '' %}
			<p>Adres email: {{vet.user.email}}</p>
		{% endifnotequal %}
		
		<p>Ilość klientów: {{len}}</p>
		<div>
			{% ifnotequal clientlist 'false' %}
				<a href=/nowy_klient>+dodaj klienta</a>
				<p></p>
				{% for client in clientlist%}		
					<li><a href=/klienci/{{client.pk}}>{{client}}</a></li>
				{% endfor %}
			{% endifnotequal %}
		</div>
		
		
	</div>

{% endblock %}
