{% extends "main/index.html" %}

{% block title %} {{ vet.user.first_name }} {{ vet.user.last_name }} {% endblock %}

{%block content %}
	<div id="content">
		<p>Szczegółowe informacje dla weterynarza:<p> 
		<p>{{vet.user.first_name}}<br>{{vet.user.last_name}}<p>
		
		<p>Nazwa kliniki: {{vet.clinic_name}}<p>
		<p>Adres kliniki: {{vet.clinic_adress}} {{vet.clinic_city}}<p>
		<p>Ilość klientów: {{len}}</p>
		<div>
			{% for client in clientlist%}		
				<li><a href=/klienci/{{client.pk}}>{{client.user.first_name}} {{client.user.last_name}}</a></li>
				{% for animal in client.animal_set.all %}
					<p><a href =/zwierzaki/{{animal.pk}}>
					{{animal.species}}
					{{animal.race}}
					</a>
					<p>
				{% endfor %}
			{% endfor %}
		</div>
	</div>

{% endblock %}
