{% extends "main/index.html" %}

{% block title %} {{ animal.name }} {{animal.race}} {% endblock %}

{%block content %}
	<div id="content">
		{% ifequal client 'false' %}
			<p>Brak uprawnień aby wyświetlić dane tego zwierzecia!</p>
			<p>Musisz zalogować się jako jego weterynarz, jego właściciel, lub administrator!<p>
		{% endifequal %}
		{% ifnotequal client 'false' %}
			<p>Dane zwierzęcia:</p>
			<p>Imię: {{ animal.name }}</p>
			<p>Właściciel: <a href=/klienci/{{client.pk}}>{{client}}</a></p>
			<p>Weterynarz nadzorujący: <a href=/weterynarze/{{vet.pk}}>{{vet}}</a></p>
			<p>Gatunek: {{animal.species}}</p>
			<p>Rasa: {{animal.race}}</p>
			<p>Wiek: {{wiek}}</p>
			<p>Umaszczenie: {{animal.color}}</p>
			<p>Zdjecie: {{animal.photo}}</p>
			<p>Zaplanowane zdarzenie ({{animal.event_date}}): {{animal.event}} </p>
			<p>Historia leczenia: {{animal.history|escape|linebreaks}}</p>
			<p>Prognoza i zalecenia: {{animal.prognose}}</p>
			<p>Dodany do bazy: {{animal.added}}</p>
		{% endifnotequal %}
	</div>
{% endblock %}
