body
{
	background-color: #2e9295;
}


#main
{
	width: 1240px;
	height: 600px;
    margin: 0 auto;
}

#background
{	
	position: relative;
	top:90px;
	margin: 0 auto;
}

#downlabel
{
    width:100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0;
}

#uplabel
{
    width:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0;
}

#logon
{
    position: fixed;
    top: 30%px;
    left: 33%;
    text-align:center;
}

#downtext
{
    position: fixed;
    text-align:justify;
    bottom:5%;
    left:42.5%;
    font-size:xx-large;
    font-weight:bold;
    font-family:MS Sans Serif;
    width:100%;
    color: White;
}

#arr
{
     position: fixed;
    text-align:justify;
    bottom:2.5%;
    left:42%;
    font-size:xx-large;
    font-weight:bold;
    font-family:MS Sans Serif;
    width:100%;
    color: White;
}
    
	
#time
{
	position:fixed;
	top:2%;
	left:2%;
	font-size:xx-large;
    font-family:MS Sans Serif;
    width:100%;
    color: White;
}
